/* You can add global styles to this file, and also import other style files */
h3{
    text-shadow: 2px 2px 5px red;
}

body{
    background-color: #fcbf49;
    /* background-image:  */
}

nav{
    background-color: #48cae4;
    background-image: linear-gradient(to bottom right, #8ecae6, #0096c7);
    border-radius: 5px;
}

table
{
    border-radius: 5px;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(250, 85, 2), rgb(255, 200, 0));
}

tr{
    border-radius: 5px;  
}
